@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --font-geist: "Geist", sans-serif;
}

body {
  font-family: var(--font-geist), system-ui, sans-serif;
}

@media print {
  body {
    font-size: 11pt;
    color: #000;
  }
  header,
  aside,
  .print\:hidden {
    display: none !important;
  }
}
